
GameActors(
    dumping_on_ice: 0.1,
    dumping_on_air: 0.5,
    acceleration_on_ice: 0.1,
    acceleration_on_air: 0.5,
    acceleration_on_drowning: 0.2,
    acceleration_on_firing: 0.5,
    actors: {
        "Witch": (
            move_force: 40000.0,
            jump: 0.0,
            linear_damping: 6.0
        ),
        "Rabbit": (
            move_force: 40000.0,
            jump: 1.5,
            linear_damping: 10.0,
        ),
        "Chicken": (
            move_force: 60000.0,
            jump: 1.5,
            linear_damping: 10.0,
        ),
        "EyeBall": (
            move_force: 100000.0,
            jump: 0.0,
            linear_damping: 10.0,
        ),
        "Sandbag": (
            move_force: 100000.0,
            jump: 0.0,
            linear_damping: 10.0,
        ),
        "Slime": (
            move_force: 100000.0,
            jump: 0.0,
            linear_damping: 10.0,
        ),
        "Salamander": (
            move_force: 100000.0,
            jump: 0.0,
            linear_damping: 10.0,
        ),
        "Shadow": (
            move_force: 100000.0,
            jump: 0.0,
            linear_damping: 10.0,
        ),
        "Spider": (
            move_force: 150000.0,
            jump: 0.0,
            linear_damping: 10.0,
        ),
        "HugeSlime": (
            // huge slime のみ move_force を jump_actor の impulse に設定していることに注意
            move_force: 400000.0,
            jump: 3.0,
            linear_damping: 10.0,
        ),
        "Lantern": (
            move_force: 0.0,
            jump: 0.0,
            linear_damping: 10.0,
        ),
        "Chest": (
            move_force: 0.0,
            jump: 0.0,
            linear_damping: 10.0,
        ),
        "BookShelf": (
            move_force: 0.0,
            jump: 0.0,
            linear_damping: 10.0,
        ),
    }
)