// https://github.com/ron-rs/ron/blob/master/docs/extensions.md
#![enable(unwrap_newtypes)]
#![enable(implicit_some)]
GameRegistry(
    debug_wands: [
        ["DualCast", "Levitation", "MagicBolt", None, None, None, None, None],
        ["QuickCast", "QuickCast", "HeavyShot", "HeavyShot", "TripleCast", "MagicBolt", "MagicBolt", "MagicBolt"],
        ["InfinityClone", None, None, None, None, None, None, None],
        ["DualCast", "Dash", "Jump", "Lantern", None, None, None, None]
    ],

    debug_items: [
        "MagicBolt",
        "LightBall",
        "WaterBall",
        "SlimeCharge",
        "Heal",
        "BulletSpeedUp",
        "BulletSpeedDoown",
        "PurpleBolt",
        "DualCast",
        "TripleCast",
        "Lantern",
        "Telescope",
        "Magnifier",
        "Homing",
        "HeavyShot",
        "SummonFriendSlime",
        "SummonEnemySlime",
        "SummonFriendEyeball",
        "SummonEnemyEyeball",
        "Dash",
        "QuickCast",
        "Impact",
        "PrecisionUp",
        "Bomb",
        "LightSword",
        "SpawnBookshelf",
        "SpawnJar",
        "RockFall",
        "Fireball",
        "SummonHugeSlime",
        "SummonChiken",
        "Servant",
        "Web",
        "Freeze",
        "Levitation",
        "ApplyLevitation",
        "Jump",
        "Metamorphosis",
        "Slash",
        "Dispel",
        "Clone",
        "InfinityClone",
    ],

    levels: {
        "home": (
            next: ["level_1_0"],
            name: Dict (
                ja: "ウサギ族のキャンプ",
                en: "Rabbit's Camp",
                zh_cn: "兔子的营地",
                zh_tw: "兔子的營地",
                es: "Campamento de Conejos",
                fr: "Camp des Lapins",
                pt: "Acampamento dos Coelhos",
                de: "Kaninchenlager",
                ko: "토끼 캠프",
                ru: "Лагерь кроликов",
            ),
            enemies: 0,
            enemy_types: [],
            items: 0,
            item_ranks: [],
            biome: StoneTile,
            bgm: "bgm/水のしたたる洞窟.ogg",
            brightness: 0.4
        ),
        "level_1_0": (
            next: ["level_2_0"],
            name: Dict (
                ja: "図書館跡",
                en: "Library Ruins",
                zh_cn: "图书馆废墟",
                zh_tw: "圖書館廢墟",
                es: "Ruinas de la Biblioteca",
                fr: "Ruines de la Bibliothèque",
                pt: "Ruínas da Biblioteca",
                de: "Bibliotheksruinen",
                ko: "도서관 폐허",
                ru: "Руины библиотеки",
            ),
            enemies: 10,
            enemy_types: [Slime],
            items: 3,
            item_ranks: [0, 1, 2],
            biome: StoneTile,
            bgm: "bgm/森のいざない.ogg",
            brightness: 0.4
        ),
        "level_2_0": (
            next: ["level_3_0"],
            name: Dict (
                ja: "地下草原",
                en: "Underground Grassland",
                zh_cn: "地下草原",
                zh_tw: "地下草原",
                es: "Pradera Subterránea",
                fr: "Prairie Souterraine",
                pt: "Pradaria Subterrânea",
                de: "Unterirdisches Grasland",
                ko: "지하 초원",
                ru: "Подземные луга",
            ),
            enemies: 15,
            enemy_types: [Slime, Spider],
            items: 3,
            item_ranks: [1, 2, 3],
            biome: Grassland,
            bgm: "bgm/midnight-forest-184304.ogg",
            brightness: 0.02,
        ),
        "level_3_0": (
            next: ["level_4_0"],
            name: Dict (
                ja: "古城",
                en: "Ancient Castle",
                zh_cn: "古城",
                zh_tw: "古城",
                es: "Castillo Antiguo",
                fr: "Château Ancien",
                pt: "Castelo Antigo",
                de: "Alte Burg",
                ko: "고대 성",
                ru: "Древний замок",
            ),
            enemies: 20,
            enemy_types: [Spider, EyeBall],
            items: 3,
            item_ranks: [2, 3, 4],
            biome: StoneTile,
            bgm: "bgm/迷宮.ogg",
            brightness: 0.4
        ),
        "level_4_0": (
            next: ["level_5_0"],
            name: Dict (
                ja: "スライムの巣窟",
                en: "Slime Nest",
                zh_cn: "史莱姆巢穴",
                zh_tw: "史萊姆巢穴",
                es: "Nido de Slimes",
                fr: "Nid de Slimes",
                pt: "Ninho de Slimes",
                de: "Schleimnest",
                ko: "슬라임 둥지",
                ru: "Гнездо слизней",
            ),
            enemies: 20,
            enemy_types: [EyeBall, Shadow],
            items: 3,
            item_ranks: [3, 4, 5],
            biome: StoneTile,
            bgm: "bgm/ダンジョンを踏破せし者.ogg",
            brightness: 0.4
        ),
        "level_5_0": (
            next: ["level_6_0"],
            name: Dict (
                ja: "氷の洞窟",
                en: "Ice Cave",
                zh_cn: "冰洞",
                zh_tw: "冰洞",
                es: "Cueva de Hielo",
                fr: "Grotte de Glace",
                pt: "Caverna de Gelo",
                de: "Eishöhle",
                ko: "얼음 동굴",
                ru: "Ледяная пещера",
            ),
            enemies: 15,
            enemy_types: [Shadow, Salamander],
            items: 3,
            item_ranks: [4, 5, 6],
            biome: Ice,
            bgm: "bgm/森のいざない.ogg",
            brightness: 0.4
        ),
        "level_6_0": (
            next: ["boss"],
            name: Dict (
                ja: "古の回廊",
                en: "Ancient Corridor",
                zh_cn: "古代走廊",
                zh_tw: "古代走廊",
                es: "Corredor Antiguo",
                fr: "Couloir Ancien",
                pt: "Corredor Antigo",
                de: "Alter Korridor",
                ko: "고대 회랑",
                ru: "Древний коридор",
            ),
            enemies: 30,
            enemy_types: [Slime, Spider, EyeBall, Shadow, Salamander],
            items: 3,
            item_ranks: [4, 5, 6],
            biome: StoneTile,
            bgm: "bgm/忘れられた神殿.ogg",
            brightness: 0.4
        ),
        "boss": (
            next: ["home"],
            name: Dict (
                ja: "大空洞",
                en: "Great Cavern",
                zh_cn: "大洞穴",
                zh_tw: "大洞穴",
                es: "Gran Caverna",
                fr: "Grande Caverne",
                pt: "Grande Caverna",
                de: "Große Höhle",
                ko: "큰 동굴",
                ru: "Большая пещера",
            ),
            enemies: 0,
            enemy_types: [],
            items: 3,
            item_ranks: [],
            biome: StoneTile,
            bgm: "bgm/炎神の吐息.ogg",
            brightness: 0.4
        ),
        "arena": (
            next: ["home"],
            name: Dict (
                ja: "対決の洞窟",
                en: "Cave of Confrontation",
                zh_cn: "对决洞穴",
                zh_tw: "對決洞穴",
                es: "Cueva de Confrontación",
                fr: "Grotte de Confrontation",
                pt: "Caverna de Confronto",
                de: "Höhle der Konfrontation",
                ko: "대결의 동굴",
                ru: "Пещера противостояния"
            ),
            enemies: 0,
            enemy_types: [],
            items: 3,
            item_ranks: [],
            biome: StoneTile,
            bgm: "bgm/森のいざない.ogg",
            brightness: 0.4
        ),
    },
    

    tiles: {
        (203, 219, 252, 255): (
            tile: None,
            zone: Dungeon,
            entity: None,
            entry_point: false,
        ),
        (234, 255, 214, 255): (
            tile: None,
            zone: SafeZone,
            entity: None,
            entry_point: false,
        ),
        (82, 75, 36, 255): (
            tile: Wall,
            zone: SafeZone,
            entity: None,
            entry_point: false,
        ),
        (118, 66, 138, 255): (
            tile: None,
            zone: SafeZone,
            entity: Some(Actor (
                actor_type: BookShelf,
                actor_group: Entity,
            )),
            entry_point: false,
        ),
        (251, 242, 54, 255): (
            tile: None,
            zone: SafeZone,
            entity: RandomChest,
            entry_point: false,
        ),
        (255, 155, 87, 255): (
            tile: None,
            zone: SafeZone,
            entity: RandomChest,
            entry_point: false,
        ),
        // (81, 28) 水路の奥の隠し部屋
        (255, 155, 88, 255): (
            tile: None,
            zone: SafeZone,
            entity: Some(SpellInChest (
                spell: "Dash",
            )),
            entry_point: false,
        ),
        // (30, 69) ジャンプ練習場の奥
        (255, 155, 89, 255): (
            tile: None,
            zone: SafeZone,
            entity: Some(SpellInChest (
                spell: "Levitation",
            )),
            entry_point: false,
        ),
        // (53, 24) Z字型の裂け目の奥の隠し部屋
        (255, 155, 90, 255): (
            tile: None,
            zone: SafeZone,
            entity: Some(SpellInChest (
                spell: "Bomb",
            )),
            entry_point: false,
        ),
        // (100, 66) 溶岩流を渡った先
        (255, 155, 91, 255): (
            tile: None,
            zone: SafeZone,
            entity: Some(SpellInChest (
                spell: "LightSword",
            )),
            entry_point: false,
        ),
        (48, 96, 130, 255): (
            tile: StoneTile,
            zone: SafeZone,
            entity: MagicCircle,
            entry_point: false,
        ),
        (47, 96, 130, 255): (
            tile: StoneTile,
            zone: SafeZone,
            entity: MultiPlayArenaMagicCircle,
            entry_point: false,
        ),
        (56, 111, 161, 255): (
            tile: StoneTile,
            zone: SafeZone,
            entity: MagicCircleHome,
            entry_point: false,
        ),
        (46, 96, 130, 255): (
            tile: StoneTile,
            zone: SafeZone,
            entity: MagicCircleDemoEnding,
            entry_point: false,
        ),
        (255, 0, 0, 255): (
            tile: StoneTile,
            zone: SafeZone,
            entity: BrokenMagicCircle,
            entry_point: true,
        ),
        (255, 0, 255, 255): (
            tile: StoneTile,
            zone: SafeZone,
            entity: Usage,
            entry_point: false,
        ),
        (254, 0, 255, 255): (
            tile: StoneTile,
            zone: SafeZone,
            entity: Routes,
            entry_point: false,
        ),
        (223, 113, 38, 255): (
            tile: StoneTile,
            zone: SafeZone,
            entity: Some(Actor (
                actor_type: Lantern,
                actor_group: Entity,
            )),
            entry_point: false,
        ),
        (0, 222, 255, 255): (
            tile: None,
            zone: SafeZone,
            entity: ShopSpell,
            entry_point: false,
        ),
        (102, 57, 49, 255): (
            tile: StoneTile,
            zone: SafeZone,
            entity: RandomChest,
            entry_point: false,
        ),
        (184, 0, 255, 255): (
            tile: None,
            zone: SafeZone,
            entity: Some(Boss (
                actor_type: HugeSlime,
                name: Dict (
                    ja: "スライムの王 エミルス",
                    en: "Slime King Emils",
                    zh_cn: "史莱姆之王 艾米尔斯",
                    zh_tw: "史萊姆之王 艾米爾斯",
                    es: "Rey Slime Emils",
                    fr: "Roi Slime Emils",
                    pt: "Rei Slime Emils",
                    de: "Schleimkönig Emils",
                    ko: "슬라임 왕 에밀스",
                    ru: "Король слизней Эмильс",
                ),
            )),
            entry_point: false,
        ),
        (255, 243, 0, 255): (
            tile: None,
            zone: SafeZone,
            entity: Rabbit(Shop),
            entry_point: false,
        ),
        (255, 244, 0, 255): (
            tile: None,
            zone: SafeZone,
            entity: Rabbit(Training),
            entry_point: false,
        ),
        (255, 245, 0, 255): (
            tile: None,
            zone: SafeZone,
            entity: Rabbit(Guide),
            entry_point: false,
        ),
        (255, 246, 0, 255): (
            tile: None,
            zone: SafeZone,
            entity: Rabbit(MultiPlay),
            entry_point: false,
        ),
        (255, 247, 0, 255): (
            tile: None,
            zone: SafeZone,
            entity: Rabbit(Singleplay),
            entry_point: false,
        ),
        (255, 248, 0, 255): (
            tile: None,
            zone: SafeZone,
            entity: Rabbit(Reading),
            entry_point: false,
        ),
        (255, 249, 0, 255): (
            tile: None,
            zone: SafeZone,
            entity: Rabbit(SpellList),
            entry_point: false,
        ),
        (182, 0, 255, 255): (
            tile: None,
            zone: SafeZone,
            entity: Some(Actor (
                actor_type: Sandbag,
                actor_group: Neutral,
            )),
            entry_point: false,
        ),
        (197, 255, 142, 255): (
            tile: StoneTile,
            zone: SafeZone,
            entity: ShopDoor,
            entry_point: false,
        ),
        (68, 0, 94, 255): (
            tile: None,
            zone: SafeZone,
            entity: BGM,
            entry_point: false,
        ),
        (153, 229, 80, 255): (
            tile: Grassland,
            zone: SafeZone,
            entity: None,
            entry_point: false,
        ),
        (156, 156, 156, 255): (
            tile: StoneTile,
            zone: SafeZone,
            entity: None,
            entry_point: false,
        ),
        (55, 79, 225, 255): (
            tile: Water,
            zone: SafeZone,
            entity: None,
            entry_point: false,
        ),
        (205, 121, 54, 255): (
            tile: Lava,
            zone: SafeZone,
            entity: None,
            entry_point: false,
        ),
        (43, 43, 43, 255): (
            tile: Crack,
            zone: SafeZone,
            entity: None,
            entry_point: false,
        ),
        (222, 233, 255, 255): (
            tile: Ice,
            zone: SafeZone,
            entity: None,
            entry_point: false,
        ),
        (0, 0, 0, 255): (
            tile: PermanentWall,
            zone: SafeZone,
            entity: None,
            entry_point: false,
        )
    },


)