
// https://github.com/ron-rs/ron/blob/master/docs/extensions.md
#![enable(unwrap_newtypes)]
#![enable(implicit_some)]
ActorRegistry(
    dumping_on_ice: 0.1,
    dumping_on_air: 0.5,
    acceleration_on_ice: 0.1,
    acceleration_on_air: 0.5,
    acceleration_on_drowning: 0.2,
    acceleration_on_firing: 0.5,
    actors: {
        "Witch": (
            name_ja: "魔法使い",
            collider: Ball(5.0),
            move_force: 40000.0,
            jump: 0.0,
            linear_damping: 6.0,
            bloods: ["blood_0", "blood_1", "blood_2"],
            defreeze: 1,
            auto_levitation: false,
            poise: 4,
            floundering: 1,
            fire_resistance: false,
            cry: true,
            life: 60,
            actor_group: Friend,
            aseprite: "actor/witch.aseprite",
            animations: (
                idle_r: "idle_r",
                idle_d: "idle_d",
                idle_u: "idle_u",
                run_r: "run_r",
                run_d: "run_d",
                run_u: "run_u",
                get_down: "get_down",
                get_up: "get_up",
                frozen: "staggered",
                drown: "drown",
                staggered: "staggered",
            ),
            shadow: "entity_shadow",
            wands: [
                [None, None, None, None, None, None, None, None],
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
            ],
            strategies: {}
        ),
        "Rabbit": (
            name_ja: "ウサギ",
            collider: Ball(5.0),
            move_force: 40000.0,
            jump: 1.5,
            linear_damping: 10.0,
            bloods: ["blood_0", "blood_1", "blood_2"],
            defreeze: 1,
            auto_levitation: false,
            poise: 1,
            floundering: 1,
            fire_resistance: false,
            cry: true,
            life: 100,
            actor_group: Friend,
            aseprite: "rabbit/rabbit_blue.aseprite",
            animations: (
                idle_r: "idle_d",
                idle_d: "idle_d",
                idle_u: "idle_d",
                run_r: "idle_d",
                run_d: "idle_d",
                run_u: "idle_d",
                get_down: "idle_d",
                get_up: "idle_d",
                frozen: "idle_d",
                drown: "idle_d",
                staggered: "idle_d",
            ),
            shadow: "rabbit_shadow",
            wands: [
                [None, None, None, None, None, None, None, None],
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
            ],
            strategies: {}
        ),
        "Chicken": (
            name_ja: "ニワトリ",
            collider: Ball(5.0),
            move_force: 60000.0,
            jump: 1.5,
            linear_damping: 10.0,
            bloods: ["blood_0", "blood_1", "blood_2"],
            defreeze: 1,
            auto_levitation: false,
            poise: 1,
            floundering: 1,
            fire_resistance: false,
            cry: true,
            life: 2,
            actor_group: Neutral,
            aseprite: "actor/chicken.aseprite",
            animations: (
                idle_r: "idle",
                idle_d: "idle",
                idle_u: "idle",
                run_r: "run",
                run_d: "run",
                run_u: "run",
                get_down: "idle",
                get_up: "idle",
                frozen: "idle",
                drown: "idle",
                staggered: "idle",
            ),
            shadow: "chicken_shadow",
            wands: [
                [None, None, None, None, None, None, None, None],
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
            ],
            strategies: {}
        ),
        "Sandbag": (
            name_ja: "サンドバッグ",
            collider: Ball(5.0),
            move_force: 100000.0,
            jump: 0.0,
            linear_damping: 10.0,
            bloods: [],
            defreeze: 1,
            auto_levitation: false,
            poise: 1,
            floundering: 1,
            fire_resistance: false,
            cry: true,
            life: 10000,
            actor_group: Neutral,
            aseprite: "actor/sandbag.aseprite",
            animations: (
                idle_r: "idle",
                idle_d: "idle",
                idle_u: "idle",
                run_r: "run",
                run_d: "run",
                run_u: "run",
                get_down: "idle",
                get_up: "idle",
                frozen: "frozen",
                drown: "idle",
                staggered: "staggered",
            ),
            shadow: "entity_shadow",
            wands: [
                [None, None, None, None, None, None, None, None],
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
            ],
            strategies: {
                "default": (
                    min_life: 100000,
                    actions: [
                        GoTo (destination: HomePosition, count: 300000),
                    ] 
                )
            }
        ),
        "Slime": (
            name_ja: "スライム",
            collider: Ball(5.0),
            move_force: 50000.0,
            jump: 0.0,
            linear_damping: 10.0,
            bloods: ["slime_blood_0", "slime_blood_1", "slime_blood_2"],
            defreeze: 1,
            auto_levitation: false,
            poise: 1,
            floundering: 1,
            fire_resistance: false,
            cry: true,
            life: 15,
            actor_group: Enemy,
            aseprite: "enemy/slime.aseprite",
            animations: (
                idle_r: "idle",
                idle_d: "idle",
                idle_u: "idle",
                run_r: "idle",
                run_d: "idle",
                run_u: "idle",
                get_down: "idle",
                get_up: "idle",
                frozen: "idle",
                drown: "idle",
                staggered: "idle",
            ),
            shadow: "entity_shadow",
            wands: [
                ["SlimeCharge", None, None, None, None, None, None, None],
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
            ],
            strategies: {
                "default": (
                    min_life: 1000,
                    actions: [
                        Wait (count: 30, random: 30),
                        Approach (count: 120, random: 120, far: 200.0, near: 16.0),
                        Fire (count: 15, random: 15, range: 8.0)
                    ] 
                )
            }
        ),
        "EyeBall": (
            name_ja: "アイボール",
            collider: Ball(5.0),
            move_force: 100000.0,
            jump: 0.0,
            linear_damping: 10.0,
            bloods: ["blood_0", "blood_1", "blood_2"],
            defreeze: 1,
            auto_levitation: true,
            poise: 1,
            floundering: 1,
            fire_resistance: false,
            cry: true,
            life: 25,
            actor_group: Enemy,
            aseprite: "enemy/eyeball.aseprite",
            animations: (
                idle_r: "idle",
                idle_d: "idle",
                idle_u: "idle",
                run_r: "idle",
                run_d: "idle",
                run_u: "idle",
                get_down: "idle",
                get_up: "idle",
                frozen: "idle",
                drown: "idle",
                staggered: "staggered",
            ),
            shadow: "entity_shadow",
            wands: [
                ["PurpleBolt", None, None, None, None, None, None, None],
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
            ],
            strategies: {
                "default": (
                    min_life: 1000,
                    actions: [
                        Wait (count: 30, random: 30),
                        Approach (count: 120, random: 120, far: 150.0, near: 80.0),
                        Fire (count: 15, random: 15, range: 1000.0)
                    ] 
                )
            }
        ),
        "Spider": (
            name_ja: "スパイダー",
            collider: Ball(8.0),
            move_force: 150000.0,
            jump: 0.0,
            linear_damping: 10.0,
            bloods: [],
            defreeze: 1,
            auto_levitation: false,
            poise: 10,
            floundering: 1,
            fire_resistance: false,
            cry: true,
            life: 40,
            actor_group: Enemy,
            aseprite: "enemy/spider.aseprite",
            animations: (
                idle_r: "idle",
                idle_d: "idle",
                idle_u: "idle",
                run_r: "idle",
                run_d: "idle",
                run_u: "idle",
                get_down: "idle",
                get_up: "idle",
                frozen: "idle",
                drown: "idle",
                staggered: "idle",
            ),
            shadow: "entity_shadow",
            wands: [
                ["Web", None, None, None, None, None, None, None],
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
                ["PurpleBolt", None, None, None, None, None, None, None], 
            ],
            strategies: {
                "default": (
                    min_life: 1000,
                    actions: [
                        Wait (count: 30, random: 30),
                        Approach (count: 120, random: 120, far: 200.0, near: 16.0),
                        Fire (count: 15, random: 15, range: 32.0)
                    ] 
                )
            }
        ),
        "Salamander": (
            name_ja: "サラマンダー",
            collider: Ball(5.0),
            move_force: 100000.0,
            jump: 0.0,
            linear_damping: 10.0,
            bloods: ["blood_0", "blood_1", "blood_2"],
            defreeze: 2,
            auto_levitation: false,
            poise: 1,
            floundering: 1,
            fire_resistance: true,
            cry: true,
            life: 100,
            actor_group: Enemy,
            wands: [
                ["Fireball", None, None, None, None, None, None, None],
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
            ],
            aseprite: "enemy/salamander.aseprite",
            animations: (
                idle_r: "idle",
                idle_d: "idle",
                idle_u: "idle",
                run_r: "idle",
                run_d: "idle",
                run_u: "idle",
                get_down: "idle",
                get_up: "idle",
                frozen: "idle",
                drown: "idle",
                staggered: "idle",
            ),
            shadow: "entity_shadow",
            strategies: {
                "default": (
                    min_life: 1000,
                    actions: [
                        Wait (count: 30, random: 30),
                        Approach (count: 120, random: 120, far: 500.0, near: 80.0),
                        Fire (count: 15, random: 15, range: 80.0)
                    ] 
                )
            }
        ),
        "Shadow": (
            name_ja: "シャドウ",
            collider: Ball(5.0),
            move_force: 50000.0,
            jump: 0.0,
            linear_damping: 10.0,
            bloods: [],
            defreeze: 1,
            auto_levitation: false,
            poise: 1,
            floundering: 1,
            fire_resistance: false,
            cry: true,
            life: 40,
            actor_group: Enemy,
            aseprite: "enemy/shadow.aseprite",
            animations: (
                idle_r: "idle",
                idle_d: "idle",
                idle_u: "idle",
                run_r: "idle",
                run_d: "idle",
                run_u: "idle",
                get_down: "idle",
                get_up: "idle",
                frozen: "idle",
                drown: "idle",
                staggered: "idle",
            ),
            shadow: None,
            wands: [
                [None, None, None, None, None, None, None, None],
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
            ],
            strategies: {}
        ),
        "HugeSlime": (
            name_ja: "スライムの王　エミルス",
            collider: Ball(30.0),
            // huge slime のみ move_force を jump_actor の impulse に設定していることに注意
            move_force: 500000.0,
            jump: 3.0,
            linear_damping: 10.0,
            bloods: [],
            // スライムの王は凍結無効
            defreeze: 10000,
            auto_levitation: false,
            poise: 10,
            floundering: 10,
            fire_resistance: false,
            cry: false,
            life: 4000,
            actor_group: Enemy,
            aseprite: "enemy/huge_slime.aseprite",
            animations: (
                idle_r: "idle",
                idle_d: "idle",
                idle_u: "idle",
                run_r: "idle",
                run_d: "idle",
                run_u: "idle",
                get_down: "idle",
                get_up: "idle",
                frozen: "idle",
                drown: "idle",
                staggered: "idle",
            ),
            shadow: "huge_shadow",
            wands: [
                [None, None, None, None, None, None, None, None],
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
            ],
            strategies: {}
        ),
        "Lantern": (
            name_ja: "ランタン",
            collider: Ball(5.0),
            move_force: 0.0,
            jump: 0.0,
            linear_damping: 1000.0,
            bloods: [],
            defreeze: 1,
            auto_levitation: false,
            poise: 1,
            floundering: 1,
            fire_resistance: false,
            cry: false,
            life: 100,
            actor_group: Entity,
            aseprite: "actor/stone_lantern.aseprite",
            animations: (
                idle_r: "idle",
                idle_d: "idle",
                idle_u: "idle",
                run_r: "idle",
                run_d: "idle",
                run_u: "idle",
                get_down: "idle",
                get_up: "idle",
                frozen: "idle",
                drown: "idle",
                staggered: "idle",
            ),
            shadow: "entity_shadow",
            point_light_radius: 100.0,
            point_light_color: (42.0, 1.0, 0.5, 1.0),
            point_light_intensity: 3.0,
            point_light_falloff: 20.0
        ),
        "Chest": (
            name_ja: "チェスト",
            collider: Cuboid(8.0, 8.0),
            move_force: 0.0,
            jump: 0.0,
            linear_damping: 10.0,
            bloods: [],
            defreeze: 1,
            auto_levitation: false,
            poise: 1,
            floundering: 1,
            fire_resistance: false,
            cry: false,
            life: 10,
            actor_group: Entity,
            aseprite: "chest/chest.aseprite",
            animations: (
                idle_r: "idle",
                idle_d: "idle",
                idle_u: "idle",
                run_r: "idle",
                run_d: "idle",
                run_u: "idle",
                get_down: "idle",
                get_up: "idle",
                frozen: "idle",
                drown: "idle",
                staggered: "idle",
            ),
            shadow: "entity_shadow",
            wands: [
                [None, None, None, None, None, None, None, None],
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
            ],
            strategies: {}
        ),
        "Bookshelf": (
            name_ja: "本棚",
            collider: Cuboid(16.0, 8.0),
            move_force: 0.0,
            jump: 0.0,
            linear_damping: 80.0,
            bloods: [],
            defreeze: 1,
            auto_levitation: false,
            poise: 1,
            floundering: 1,
            fire_resistance: false,
            cry: false,
            life: 25,
            actor_group: Entity,
            aseprite: "actor/bookshelf.aseprite",
            animations: (
                idle_r: "idle",
                idle_d: "idle",
                idle_u: "idle",
                run_r: "idle",
                run_d: "idle",
                run_u: "idle",
                get_down: "idle",
                get_up: "idle",
                frozen: "idle",
                drown: "idle",
                staggered: "idle",
            ),
            shadow: None,
            wands: [
                [None, None, None, None, None, None, None, None],
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
            ],
            strategies: {}
        ),
        "Rock": (
            name_ja: "岩",
            collider: Ball(16.0),
            move_force: 0.0,
            jump: 0.0,
            linear_damping: 60.0,
            bloods: [],
            defreeze: 10000,
            auto_levitation: false,
            poise: 1,
            floundering: 1,
            fire_resistance: false,
            cry: false,
            life: 100,
            actor_group: Entity,
            aseprite: "actor/rock.aseprite",
            animations: (
                idle_r: "idle",
                idle_d: "idle",
                idle_u: "idle",
                run_r: "idle",
                run_d: "idle",
                run_u: "idle",
                get_down: "idle",
                get_up: "idle",
                frozen: "idle",
                drown: "idle",
                staggered: "idle",
            ),
            shadow: None,
            wands: [
                [None, None, None, None, None, None, None, None],
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
            ],
            strategies: {},
            impact_radius: 24.0,
        ),
        "Bomb": (
            name_ja: "爆弾",
            collider: Ball(5.0),
            move_force: 0.0,
            jump: 0.0,
            linear_damping: 1.0,
            bloods: [],
            defreeze: 10000,
            auto_levitation: false,
            poise: 1,
            floundering: 1,
            fire_resistance: false,
            cry: false,
            life: 100,
            actor_group: Entity,
            aseprite: "actor/bomb.aseprite",
            animations: (
                idle_r: "idle",
                idle_d: "idle",
                idle_u: "idle",
                run_r: "idle",
                run_d: "idle",
                run_u: "idle",
                get_down: "idle",
                get_up: "idle",
                frozen: "idle",
                drown: "idle",
                staggered: "idle",
            ),
            shadow: None,
            wands: [
                [None, None, None, None, None, None, None, None],
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
                [None, None, None, None, None, None, None, None], 
            ],
            strategies: {}
        )
    }
)