// https://github.com/ron-rs/ron/blob/master/docs/extensions.md
#![enable(unwrap_newtypes)]
#![enable(implicit_some)]
TileRegistry(
    tile_types: {
        // 侵入できないタイル　
        // FloorまたはSurfaceが隣接していると、壁の部分を描画します
        "Blank": (
            tile_type: Wall
        ),
        "Wall": (
            tile_type: Wall
        ),
        "PermanentWall": (
            tile_type: Wall
        ),
        // ジャンプしたときのみ侵入できるタイル
        // 岸の部分を描画します
        "Ice": (
            tile_type: Surface,
            layers: [
                (
                    depth: 0.0,
                    tiling: Simple (patterns: [["tile_ice"]])
                ),
            ]
        ),
        "Lava": (
            tile_type: Surface,
            layers: [
                (
                    depth: 0.0,
                    tiling: Simple (patterns: [["lava_mesh_0", "lava_mesh_1"]])
                )
            ],
            // それぞれのタイルに以下の照度をランダムに割り当てます
            light_hue: 22.0, 
            light_saturation: 0.5, 
            light_lightness: 0.5,
            light_intensity: 0.4,
            light_radius: 64.0,
            light_density: 0.1
        ),
        "Crack": (
            tile_type: Surface,                     
        ),        
        "Water": (
            tile_type: Surface,
            layers: [
                (
                    depth: -1.4,
                    tiling: Auto (prefixes: [["water_form_0"], ["water_form_1"]]),
                ),
                (
                    depth: -1.5, 
                    tiling: Simple (patterns: [["water_mesh_0"], ["water_mesh_1"]])
                ),
                (
                    depth: -1.45,
                    tiling: Simple (
                        patterns: [
                            ["water_mesh_lighter_0_0", "water_mesh_lighter_0_1", "water_mesh_lighter_0_2", "water_mesh_lighter_0_3"],
                            ["water_mesh_lighter_1_0", "water_mesh_lighter_1_1", "water_mesh_lighter_1_2", "water_mesh_lighter_1_3"],
                        ]
                    )
                )
            ],
        ),
        // 常に侵入できるタイル
        "StoneTile": (
            tile_type: Floor,
            layers: [
                (
                    depth: 0.0,
                    tiling: Simple (patterns: [["stone_tile_0"], ["stone_tile_1"], ["stone_tile_2"]])
                )
            ],
        ),
        // 草原
        // 地面は Soil と同じだが、大半の部分に草が生える
        "Grassland": (
            tile_type: Floor,
            layers: [
                (
                    depth: 0.0,                    
                    tiling: Simple (patterns: [["grassland_0"], ["grassland_1"], ["grassland_2"]])
                )
            ],
            grasses: true
        ),
        // 土
        // 草が生えていない地面
        "Soil": (
            tile_type: Floor,
            layers: [
                (
                    depth: 0.0,
                    tiling: Simple (patterns: [["grassland_0"], ["grassland_1"], ["grassland_2"]])
                )
            ],
        ),
    },
)