// https://github.com/ron-rs/ron/blob/master/docs/extensions.md
#![enable(unwrap_newtypes)]
#![enable(implicit_some)]
TileRegistry(
    tile_types: {
        // 侵入できないタイル　
        // FloorまたはSurfaceが隣接していると、壁の部分を描画します
        "Blank": (
            tile_type: Wall
        ),
        "Wall": (
            tile_type: Wall
        ),
        "PermanentWall": (
            tile_type: Wall
        ),
        // ジャンプしたときのみ侵入できるタイル
        // 岸の部分を描画します
        "Ice": (
            tile_type: Surface,
            layers: [
                (
                    depth: 0.0,
                    tiling: Simple (patterns: [["tile_ice"]])
                ),
            ]
        ),
        "Lava": (
            tile_type: Surface,
            layers: [
                (
                    depth: 0.0,
                    tiling: Simple (patterns: [["lava_mesh_0", "lava_mesh_1"]])
                )
            ],
            // それぞれのタイルに以下の照度をランダムに割り当てます
            light_hue: 22.0, 
            light_saturation: 0.5, 
            light_lightness: 0.5,
            light_intensity: 0.4,
            light_radius: 64.0,
            light_density: 0.1
        ),
        "Crack": (
            tile_type: Surface,                     
        ),        
        "Water": (
            tile_type: Surface,
            layers: [
                (
                    depth: -1.4,
                    tiling: Auto (prefixes: [["water_form_0"], ["water_form_1"]]),
                ),
                (
                    depth: -1.5, 
                    tiling: Simple (patterns: [["water_mesh_0"], ["water_mesh_1"]])
                ),
                (
                    depth: -1.45,
                    tiling: Simple (
                        patterns: [
                            ["water_mesh_lighter_0_0", "water_mesh_lighter_0_1", "water_mesh_lighter_0_2", "water_mesh_lighter_0_3"],
                            ["water_mesh_lighter_1_0", "water_mesh_lighter_1_1", "water_mesh_lighter_1_2", "water_mesh_lighter_1_3"],
                        ]
                    )
                )
            ],
        ),
        // 常に侵入できるタイル
        "StoneTile": (
            tile_type: Floor,
            layers: [
                (
                    depth: 0.0,
                    tiling: Simple (patterns: [["stone_tile_0"], ["stone_tile_1"], ["stone_tile_2"]])
                )
            ],
        ),
        "Grassland": (
            tile_type: Floor,
            layers: [
                (
                    depth: 0.0,                    
                    tiling: Simple (patterns: [["grassland"]])
                )
            ],
            grasses: true
        ),
        "Soil": (
            tile_type: Floor,
            layers: [
                (
                    depth: 0.0,
                    tiling: Simple (patterns: [["soil_tile"]])
                )
            ],
        ),
    },

    // level.aseprite の tiles レイヤーに以下の色のピクセルを配置すると、その位置にタイルが生成されます
    color_to_tile_mapping: {
        // 壁
        (0, 0, 0, 255): "PermanentWall",
        (82, 75, 36, 255): "Wall",

        // 床
        (203, 219, 252, 255): "StoneTile",
        (153, 229, 80, 255): "Grassland",
        (222, 233, 255, 255): "Ice",
        (255, 220, 204, 255): "Soil",

        // 水面など
        (55, 79, 225, 255): "Water",
        (205, 121, 54, 255): "Lava",
        (43, 43, 43, 255): "Crack",
    },

    // level.aseprite の entities レイヤーに以下の色のピクセルを配置すると、その位置にエンティティが生成されます
    color_to_entity_mapping: {
        // 魔法陣 /////////////////////////////////////////////////////////////////////////////////////////////////////////
        (48, 96, 130, 255): (
            entity: MagicCircle,
        ),
        (47, 96, 130, 255): (
            entity: MultiPlayArenaMagicCircle,
        ),
        (56, 111, 161, 255): (
            entity: MagicCircleHome,
        ),
        (46, 96, 130, 255): (
            entity: MagicCircleDemoEnding,
        ),
        (255, 0, 0, 255): (
            entity: BrokenMagicCircle, // エントリポイント 
        ),

        // 施設など /////////////////////////////////////////////////////////////////////////////////////////////////////
        (197, 255, 142, 255): (
            entity: ShopDoor,
        ),
        (0, 222, 255, 255): (
            entity: ShopSpell,
        ),
        // (68, 0, 94, 255): (
        //     entity: BGM ( bgm: "bgm/最果てのルージュ.ogg" ),
        //     entry_point: false,
        //     spawn_offset_x: 0.0,
        // ),        
        (251, 242, 54, 255): (
            entity: RandomChest,
        ),
        (255, 155, 87, 255): (
            entity: RandomChest,
        ),
        (102, 57, 49, 255): (
            entity: RandomChest,
        ),
        (255, 0, 255, 255): (
            entity: Usage,
        ),
        (184, 0, 255, 255): (
            entity: Boss (
                actor_type: "HugeSlime",
                name: Dict (
                    ja: "スライムの王 エミルス",
                    en: "Slime King Emils",
                    zh_cn: "史莱姆之王 艾米尔斯",
                    zh_tw: "史萊姆之王 艾米爾斯",
                    es: "Rey Slime Emils",
                    fr: "Roi Slime Emils",
                    pt: "Rei Slime Emils",
                    de: "Schleimkönig Emils",
                    ko: "슬라임 왕 에밀스",
                    ru: "Король слизней Эмильс",
                ),
                on_despawn: "HugeSlime"
            ),
        ),

        // ラビット ////////////////////////////////////////////////////////////////////////////////////////////////
        (255, 243, 0, 255): (
            entity: Rabbit (
                aseprite: "entity/rabbit_yellow.aseprite",
                senario: "ShopRabbit"
            ),
        ),
        (255, 244, 0, 255): (
            entity: Rabbit (
                aseprite: "entity/rabbit_red.aseprite",
                senario: "TrainingRabbit"
            ),
        ),
        (255, 245, 0, 255): (
            entity: Rabbit ( 
                aseprite: "entity/rabbit_blue.aseprite",
                senario: "GuideRabbit"
            ),
        ),
        (255, 246, 0, 255): (
            entity: Rabbit ( 
                aseprite: "entity/rabbit_black.aseprite",
                senario: "MultiPlayRabbit"
            ),
        ),
        (255, 247, 0, 255): (
            entity: Rabbit (
                aseprite: "entity/rabbit_white.aseprite",
                senario: "SingleplayRabbit"
            ),
        ),
        (255, 248, 0, 255): (
            entity: Rabbit (
                aseprite: "entity/rabbit_green.aseprite",
                senario: "ReadingRabbit"
            ),
        ),
        (255, 249, 0, 255): (
            entity: Rabbit (
                aseprite: "entity/rabbit_blue.aseprite",
                senario: "SpellListRabbit"
            ),
        ),

        // 通常のアクター /////////////////////////////////////////////////////////////////////////////////////
        (223, 113, 38, 255): (
            entity: Actor("Lantern"),
        ),
        (118, 66, 138, 255): (
            entity: Actor("BookShelf"),
            spawn_offset_x: 8.0
        ),        
        (182, 0, 255, 255): (
            entity: Actor("Sandbag"),
        ),
    },

    levels: {


        // チュートリアルを兼ねて最初にマジックボルトを入手
        // 呪文をひとつも発見していないときはこのレベルに来る
        "warehouse": (
            name: Dict (
                ja: "倉庫",
                en: "Warehouse",
                zh_cn: "仓库",
                zh_tw: "倉庫",
                es: "Almacén",
                fr: "Entrepôt",
                pt: "Armazém",
                de: "Lagerhaus",
                ko: "창고",
                ru: "Склад",
            ),
            default_tile: "StoneTile",
            enemies: 0,
            enemy_types: ["Slime"],
            bgm: "bgm/水のしたたる洞窟.ogg",
            brightness: 0.4,
            items: {
                (158, 224): "MagicBolt"
            },
            next: ["home"],
        ),

        // レベル内にエンティティを生成するには、以下の三種類があります
        // 1. level.aseprite の entities レイヤーで指定する。色のマッピングも指定する必要があるが、地形と連動させて編集しやすい
        // 2. registry.tile.ron の items で指定する。これは記述が簡便ですが、呪文専用です
        // 3. registry.tile.ron の spawn で指定する。こちらは呪文以外のエンティティも生成できます
        "home": (
            name: Dict (
                ja: "ウサギ族のキャンプ",
                en: "Rabbit's Camp",
                zh_cn: "兔子的营地",
                zh_tw: "兔子的營地",
                es: "Campamento de Conejos",
                fr: "Camp des Lapins",
                pt: "Acampamento dos Coelhos",
                de: "Kaninchenlager",
                ko: "토끼 캠프",
                ru: "Лагерь кроликов",
            ),
            default_tile: "StoneTile",
            enemies: 0,
            enemy_types: [],
            bgm: "bgm/最果てのルージュ.ogg",
            brightness: 0.4,
            // このレベルに落ちているアイテムはitemsで定義します
            items: {
                // 溶岩流を渡った先
                (100, 66): "LightSword",
                // 水路の奥の隠し部屋
                (83, 28): "Dash",
                // ジャンプ練習場の奥
                (30, 69): "Levitation",
                // Z字型の裂け目の奥の隠し部屋
                (53, 24): "Bomb",
            },
            // itemsで指定する以外のエンティティの生成はspawnで指定します
            // spawn: {
            //     (50, 52): Actor ("ExplosiveMashroom")
            // },
            next: ["library"],
        ),

        // レベル1 ////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        // 望遠鏡を入手
        // レベルとのシナジーがない……
        // スナイパー系のモンスターを出す？ 
        "library": (
            next: ["valley"],
            name: Dict (
                ja: "図書館跡",
                en: "Library Ruins",
                zh_cn: "图书馆废墟",
                zh_tw: "圖書館廢墟",
                es: "Ruinas de la Biblioteca",
                fr: "Ruines de la Bibliothèque",
                pt: "Ruínas da Biblioteca",
                de: "Bibliotheksruinen",
                ko: "도서관 폐허",
                ru: "Руины библиотеки",
            ),
            default_tile: "StoneTile",
            enemies: 10,
            enemy_types: ["Slime"],
            bgm: "bgm/森のいざない.ogg",
            brightness: 0.4,
            items: {
                (175, 17): "Telescope"
            }
        ),

        // 光の玉の魔法を入手
        // 非常に暗く、スライムに殴られるとクレバスに落ちてしまう
        // 明かりで照らしながら慎重に進む
        "valley": (
            next: ["waterside"],
            name: Dict (
                ja: "暗闇の谷",
                en: "Valley of Darkness",
                zh_cn: "黑暗之谷",
                zh_tw: "黑暗之谷",
                es: "Valle de la Oscuridad",
                fr: "Vallée des Ténèbres",
                pt: "Vale da Escuridão",
                de: "Tal der Dunkelheit",
                ko: "어둠의 계곡",
                ru: "Долина Тьмы",
            ),
            default_tile: "StoneTile",
            enemies: 10,
            enemy_types: ["Slime"],
            items: {
                (142, 164): "LightBall"
            },
            bgm: "bgm/森のいざない.ogg",
            brightness: 0.01,
        ),

        // 飛躍の呪文を入手
        // 比較的安全な水辺でジャンプの練習
        "waterside": (
            next: ["grassland"],
            name: Dict (
                ja: "飛躍の水辺",
                en: "Waterside of Leap",
                zh_cn: "飞跃之水边",
                zh_tw: "飛躍之水邊",
                es: "Orilla del Salto",
                fr: "Rivage du Saut",
                pt: "Margem do Salto",
                de: "Sprungufer",
                ko: "도약의 물가",
                ru: "Берег Прыжка",
            ),
            default_tile: "StoneTile",
            enemies: 10,
            enemy_types: ["Slime", "EyeBall"],
            items: {
                (154,89): "Jump"
            },
            bgm: "bgm/森のいざない.ogg",
            brightness: 0.4,
        ),
        
        // ランタンを入手
        // 非常に暗いが、周囲が明るくなり、蜘蛛の巣を避けやすくなる
        // 光の玉と異なり、ランタンでは遠くを見通すことはできない
        // valleyと差別化が微妙？
        "grassland": (
            next: ["minefield"],
            name: Dict (
                ja: "地下草原",
                en: "Underground Grassland",
                zh_cn: "地下草原",
                zh_tw: "地下草原",
                es: "Pradera Subterránea",
                fr: "Prairie Souterraine",
                pt: "Pradaria Subterrânea",
                de: "Unterirdisches Grasland",
                ko: "지하 초원",
                ru: "Подземные луга",
            ),
            default_tile: "Grassland",
            enemies: 15,
            enemy_types: ["Slime", "Spider"],
            bgm: "bgm/midnight-forest-184304.ogg",
            brightness: 0.02,
            items: {
                (202, 25): "Lantern"
            }
        ),


        // レベル2 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        // 地面に爆発キノコが埋まっている
        // うっかり踏むと大爆発してダメージを受けるが、
        // 拡大鏡で地面をよく見ながら進もう
        // 爆発キノコは浮遊の魔法などでも回避できる
        "minefield": (
            next: ["lake"],
            name: Dict (
                ja: "爆発キノコの湿地",
                en: "Explosive Mushroom Swamp",
                zh_cn: "爆炸蘑菇沼泽",
                zh_tw: "爆炸蘑菇沼泽",
                es: "Pantano de Hongos Explosivos",
                fr: "Marais aux Champignons Explosifs",
                pt: "Pântano de Cogumelos Explosivos",
                de: "Explosiver Pilzsumpf",
                ko: "폭발 버섯 늪지",
                ru: "Болото взрывных грибов",
            ),
            default_tile: "Soil",
            enemies: 15,
            enemy_types: ["EyeBall"],
            bgm: "bgm/midnight-forest-184304.ogg",
            brightness: 0.4,
            items: {
                (206, 91): "Magnifier"
            }
        ),

        // 凍結の魔法で湖を凍らせて渡る
        // 浮遊の魔法でも渡れる
        "lake": (
            next: ["corridor"],
            name: Dict (
                ja: "地底湖",
                en: "Underground Lake",
                zh_cn: "地下湖",
                zh_tw: "地下湖",
                es: "Lago Subterráneo",
                fr: "Lac Souterrain",
                pt: "Lago Subterrâneo",
                de: "Unterirdischer See",
                ko: "지하 호수",
                ru: "Подземное озеро",
            ),
            default_tile: "Soil",
            enemies: 15,
            enemy_types: ["Slime", "Spider"],
            bgm: "bgm/midnight-forest-184304.ogg",
            brightness: 0.4,
            items: {
                (402, 82): "Freeze"
            }
        ),
        // これ以下はテーマ未定 ////////////////////////////////////////////////////////////////////////////////////////////////

        "corridor": (
            next: ["boss"],
            name: Dict (
                ja: "古の回廊",
                en: "Ancient Corridor",
                zh_cn: "古代走廊",
                zh_tw: "古代走廊",
                es: "Corredor Antiguo",
                fr: "Couloir Ancien",
                pt: "Corredor Antigo",
                de: "Alter Korridor",
                ko: "고대 회랑",
                ru: "Древний коридор",
            ),
            default_tile: "StoneTile",
            enemies: 30,
            enemy_types: ["Slime", "Spider", "EyeBall", "Shadow", "Salamander"],
            bgm: "bgm/忘れられた神殿.ogg",
            brightness: 0.4
        ),
        "boss": (
            next: ["home"],
            name: Dict (
                ja: "大空洞",
                en: "Great Cavern",
                zh_cn: "大洞穴",
                zh_tw: "大洞穴",
                es: "Gran Caverna",
                fr: "Grande Caverne",
                pt: "Grande Caverna",
                de: "Große Höhle",
                ko: "큰 동굴",
                ru: "Большая пещера",
            ),
            default_tile: "StoneTile",
            enemies: 0,
            enemy_types: [],
            bgm: "bgm/炎神の吐息.ogg",
            brightness: 0.4
        ),


        
        
        "level_3_0": (
            next: ["level_4_0"],
            name: Dict (
                ja: "古城",
                en: "Ancient Castle",
                zh_cn: "古城",
                zh_tw: "古城",
                es: "Castillo Antiguo",
                fr: "Château Ancien",
                pt: "Castelo Antigo",
                de: "Alte Burg",
                ko: "고대 성",
                ru: "Древний замок",
            ),
            default_tile: "StoneTile",
            enemies: 20,
            enemy_types: ["Spider", "EyeBall"],
            bgm: "bgm/迷宮.ogg",
            brightness: 0.4
        ),
        "level_4_0": (
            next: ["level_5_0"],
            name: Dict (
                ja: "スライムの巣窟",
                en: "Slime Nest",
                zh_cn: "史莱姆巢穴",
                zh_tw: "史萊姆巢穴",
                es: "Nido de Slimes",
                fr: "Nid de Slimes",
                pt: "Ninho de Slimes",
                de: "Schleimnest",
                ko: "슬라임 둥지",
                ru: "Гнездо слизней",
            ),
            default_tile: "StoneTile",
            enemies: 20,
            enemy_types: ["EyeBall", "Shadow"],
            bgm: "bgm/ダンジョンを踏破せし者.ogg",
            brightness: 0.4
        ),
        "level_5_0": (
            next: ["level_6_0"],
            name: Dict (
                ja: "氷の洞窟",
                en: "Ice Cave",
                zh_cn: "冰洞",
                zh_tw: "冰洞",
                es: "Cueva de Hielo",
                fr: "Grotte de Glace",
                pt: "Caverna de Gelo",
                de: "Eishöhle",
                ko: "얼음 동굴",
                ru: "Ледяная пещера",
            ),
            default_tile: "StoneTile",
            enemies: 15,
            enemy_types: ["Shadow", "Salamander"],
            bgm: "bgm/森のいざない.ogg",
            brightness: 0.4
        ),

        "arena": (
            next: ["home"],
            name: Dict (
                ja: "対決の洞窟",
                en: "Cave of Confrontation",
                zh_cn: "对决洞穴",
                zh_tw: "對決洞穴",
                es: "Cueva de Confrontación",
                fr: "Grotte de Confrontation",
                pt: "Caverna de Confronto",
                de: "Höhle der Konfrontation",
                ko: "대결의 동굴",
                ru: "Пещера противостояния"
            ),
            default_tile: "StoneTile",
            enemies: 0,
            enemy_types: [],
            bgm: "bgm/森のいざない.ogg",
            brightness: 0.4
        ),
    },
    

    
)